<ion-view title="Actualités" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        .imge img {
          float: left;
        }
        
        a {
          text-decoration: none;
          font-size: 1.5em;
          float: right;
        }
        
        .brr br {
          float: right;
        }
      </style>
      <div class="actualité">
        <div class="item">
          <div class="imge">
            <img src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>كوريا الجنوبية: منح الدراسة بسلكي الماستر والدكتوراه في تكنولوجيات الإعلام والاتصال </h4>
          <br class="brr">
          <br>
          <a href="#">voir plus...</a>
        </div>
        <br>
        <div class="item">
          <div class="imge">
            <img src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>Appel à projet pour la production de MOOC</h4>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>

        <div class="item">
          <div class="imge">
            <img src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>RÉSULTATS DE LA BOURSE D’EXCELLENCE ÉDITION 2017 والاتصال </h4>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>

        <div class="item">
          <div class="imge">
            <img src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>RÉSULTAT DÉFINITIF CYCLE DOCTORALE 2017</h4>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>
        <br>

        <div class="item">
          <div class="imge">
            <img src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>كوريا الجنوبية: منح الدراسة بسلكي الماستر والدكتوراه في تكنولوجيات الإعلام والاتصال </h4>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>
        <br>

        <div class="item">
          <div class="imge">
            <img src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>OUVERTURE DES INSCRIPTIONS AU CONCOURS FRANCOPHONE INTERNATIONAL « MA THÈSE EN 180 S »</h4>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>
        <br>
      </div>
    </div>
  </ion-content>
</ion-view>