<ion-view title="Agenda &amp; calendrier " id="page12">
  <ion-content padding="true" class="has-header" style="background:#323032;">
     <div style="color:#2e87ff;font-size:14px;text-align:center;">
      <a href=""> <b><i>Trending Events</i></b></a>
    </div>
    <div class="" >
      <a href="#">
        <div>
          <img style="width:100%; height:100%;" src="../img/firstEv.jpg" alt="">
        </div>
      </a>
    </div>
    <div class="">
      <a href="#">
        <div>
          <img style="width:100%; height:100%;" src="../img/secondEv.jpg" alt="">
        </div>
      </a>
    </div>
    <div style="color:#2e87ff;font-size:14px;text-align:center;">
      <span> <b>V</b> </span> <br>
      <a href=""> <b><i>Newest Events</i></b></a>
    </div>
    <div class="">
      <a href="#">
        <div>
          <img style="width:100%; height:100%;" src="../img/three.jpg" alt="">
        </div>
      </a>
    </div>
    <div class="">
      <a href="#">
        <div>
          <img style="width:100%; height:100%;" src="../img/four.jpg" alt="">
        </div>
      </a>
    </div>
    <div style="color:#2e87ff;font-size:14px;text-align:center;">
      <span> <b>V</b> </span> <br>
      <a href=""> <b><i>Ending Events</i></b></a>
    </div>
    <div class="row" id="row1">
      <div class="" style="margin:2px;">
        <a href="#">
          <div>
            <img style="width:100%; height:100%;" src="../img/firstRowphoto.jpg" alt="">
          </div>
        </a>
      </div>
      <div class="" style="margin:2px;">
        <a href="#">
          <div>
            <img style="width:100%; height:100%;" src="../img/secondRowphoto.jpg" alt="">
          </div>
        </a>
      </div>
      <div class="" style="margin:2px;">
        <a href="#">
          <div>
            <img style="width:100%; height:100%;" src="../img/thirdRowphoto.jpg" alt="">
          </div>
        </a>
      </div>
    </div>
    <div class="row" id="row2">
<div class="row" id="row1">
      <div class="" style="margin:2px;">
        <a href="#">
          <div>
            <img style="width:100%; height:100%;" src="../img/secondRow1.jpg" alt="">
          </div>
        </a>
      </div>
      <div class="" style="margin:2px;">
        <a href="#">
          <div>
            <img style="width:100%; height:100%;" src="../img/secondRow2.jpg" alt="">
          </div>
        </a>
      </div>
      <div class="" style="margin:2px;">
        <a href="#">
          <div>
            <img style="width:100%; height:100%;" src="../img/secondRow3.jpg" alt="">
          </div>
        </a>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>