  <!--style="background-color:#37addd;
  -->
<ion-view title="Annuaire et Contact" id="page7">
  <ion-content padding="true" class="has-header">
    <h5 id="annuaireEtContact-heading2" style="color:#000000;font-weight:600;">Professors: </h5>
    <ion-list id="annuaireEtContact-list3">
      <ion-item class="item-icon-left dark" id="annuaireEtContact-list-item43">
        <i class="icon ion-ios-person"></i> <b>Mr.</b> Mouhcine lakhdissi<br>
        <p><a href="mailto:mouhsine.lakhdissi@uhp.ac.ma">mouhsine.lakhdissi@uhp.ac.ma</a><br></p>
      </ion-item>
    </ion-list>

     <ion-list id="annuaireEtContact-list3">
      <ion-item class="item-icon-left dark" id="annuaireEtContact-list-item43">
        <i class="icon ion-ios-person"></i> <b>Mr.</b> Jon Doe<br>
        <p><a href="">jonDoe@uhp.ac.ma</a><br></p>
      </ion-item>
    </ion-list>

     <ion-list id="annuaireEtContact-list3">
      <ion-item class="item-icon-left dark" id="annuaireEtContact-list-item43">
        <i class="icon ion-ios-person"></i> <b>Mr.</b> Sasha Doe<br>
        <p><a href="">SashaDoe@uhp.ac.ma</a><br></p>
      </ion-item>
    </ion-list>

    <ion-list id="annuaireEtContact-list3">
      <ion-item class="item-icon-left dark" id="annuaireEtContact-list-item43">
        <i class="icon ion-ios-person"></i> <b>Mr.</b> Sara Doe<br>
        <p><a href="">SaraDoe@uhp.ac.ma</a><br></p>
      </ion-item>
    </ion-list>


    <h5 id="annuaireEtContact-heading3" style="color:#000000;font-weight:600;">Application crée par:</h5>
    <div>
      <p>
        <b>Mr.</b>
        <i> Mohammed TAALLA</i>
        <br> pour plus d'infos veuillez me contacter via:
        <br>
        <a href="mailto:mohammed.taalla@gmail.com">
          mohammed.taalla@gmail.com</a>
        <br>
        <b>Par tel: </b>+212-622-41-38-91</p>
    </div>
  </ion-content>
</ion-view>