<ion-view title="Home" id="page2" >
  <ion-content padding="true" class="has-header">
    <div id="home-list2" class="list card">
      <ion-item class="col-12 item-avatar dark univercontent" id="home-list-item6" ui-sref="menu.motDuPresidentEtChiffre">
        <div style="text-align:center;">
        <img src="img/bsuY5uVZTauH00V6jzj0_college-graduation.png">  
        </div>
        <h2dark>Universite</h2dark>
      </ion-item>
    </div>
<div  class="row">
<div class="col-6 list card" id="home-card23" style="">
      <ion-item class="item-avatar dark" id="home-list-item9" ui-sref="menu.quoiDeNeuf">
        <div>
        <img  src="img/rOtiA3B1Ql6ZyyNgyteT_interface.png" class="">  
        </div>
        <h2dark >Actualites</h2dark>
      </ion-item>
    </div>
    <div class="col-6 list card" id="home-card211" style="">
      <ion-item class="item-avatar dark" id="home-list-item22" ui-sref="menu.agendaCalendrier">
        <div style="text-align:center;">
          <img src="img/Q9axeUp5S3iXw45q9Rh6_calendar.png">
        </div>
        <h2dark>Evenements</h2dark>
      </ion-item>
    </div>
</div>
    <div class="row">   
    <div class="col-6 list card" id="home-card212" style="">
      <ion-item class="item-avatar dark" id="home-list-item24" ui-sref="menu.login">
        <div style="text-align:center;">
          <img src="img/3biood7mQHWfcIGmIg8m_student.png">
        </div>
        <h2dark>Espace Etudiant</h2dark>
      </ion-item>
    </div>
    <div class="col-6 list card" id="home-card24" style="">
      <ion-item class="item-avatar dark" id="home-list-item10" ui-sref="menu.login">
        <div style="text-align:center;">
          <img src="img/VglWS6EQCuRnejQrgpPR_002-settings.png">
        </div>
        <h2dark>Infos</h2dark>
      </ion-item>
    </div>
    </div>
<div>
  <div class="list card" id="home-card25" style="">
      <ion-item class="item-avatar dark" id="home-list-item12" ui-sref="menu.localisation" >
        <div style="text-align:center;">
          <img src="img/hnO9Tq4bQMCQqhTjxiRD_001-maps-and-flags.png">
        </div>
        <h2dark>Localisation</h2dark>
      </ion-item>
    </div>
</div>
  </ion-content>
</ion-view>