<ion-view title="Mot Du President Et Chiffre" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="motDuPresidentEtChiffre-card219">
      <ion-item id="motDuPresidentEtChiffre-list-item38">Mot du Président</ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="menu.home">
          <img src="img/8KNslK6eSZtFYKaAwglg_president.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>
    <a ui-sref="menu.motPresident" id="motDuPresidentEtChiffre-button2" style="text-align:left;" class="button button-positive  button-clear">Voir plus</a>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/kheTB8edSYqwSnB2WekP_chiffre.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>