<ion-view title="publicités" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        .imge img{
            float:left;
        }
        a{
            text-decoration:none;
            font-size: 1.5em;
            float: right;
        }
      </style>
      <div class="actualité">
        <div class="item">
          <div class="imge">
            <img style="" src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>المــــؤتمر الــــدولي الأول تحـــــت عنــــــوان: "السياســــــات الأمنيــــــة والمخــــــاطر الإرهابيــــــة بإفريقيــــــا: بــــــين التــــــدابير الآنيــــــة والاستراتيجيات المستقبلية"ل </h4>
          <span>24/03/2017 09:00</span>
          <br>
          <br>
          <br>

          <a href="#">voir plus...</a>
        </div>
        <br>

        <div class="item">
          <div class="imge">
            <img style="" src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>LA PREMIÈRE EDITION DE LA CARAVANE SOLIDAIRE BASMA</h4>
          <span>11/03/2017 09:00</span>
          <br>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>

        <div class="item">
          <div class="imge">
            <img style="" src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>Accueillera une délégation de l’Université fédérale de Kazan - TATARSTAN</h4>
          <span>14/03/2017 09:00</span>
          <br>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>

        <div class="item">
          <div class="imge">
            <img style="" src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>Réunions d’Evaluations externe des établissements de l’Université Hassan 1er</h4>
          <span>14/03/2017 09:00</span>
          <br>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>
        <br>

        <div class="item">
          <div class="imge">
            <img style="" src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>Atelier sur le Développement des Ecosystèmes de Commercialisation</h4>
          <span>14/03/2017 09:00</span>
          <br>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>
        <br>

        <div class="item">
          <div class="imge">
            <img style="" src="http://www.uh1.ac.ma/sites/default/files/logo1_31_0_1_0_0_3_5_2 (1)_3_1_1_45.png">
          </div>
          <h4>Accueil d'une Délégation Américaine</h4>
          13/02/2017 09:00
          <br>
          <br>
          <br>
          <a href="#">voir plus...</a>
        </div>
        <br>

      </div>
    </div>
  </ion-content>
</ion-view>