<ion-view title="Quoi de neuf" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="quoiDeNeuf-card28">
      <ion-item class="item-thumbnail-left positive" id="quoiDeNeuf-list-item21" ui-sref="menu.actualitS">
        <img src="img/dIOZMbHRgKQOhYWybEUA_newspaper.png">
        <h2positive>Actualités
          <p style="white-space:normal;">Soyez constamment informés de toute l’actualité qui rythme la vie de l’Université Hassan 1er et son campus. Périodiquement, des bulletins d’informations vous relatent tout ce que vous devez savoir sur la vie à l’Université.</p>
        </h2positive>
      </ion-item>
      <a ui-sref="menu.actualitS" id="quoiDeNeuf-button3" style="font-weight:300;text-align:right;" class="button button-positive  button-clear">Voir Plus</a>
    </div>
    <div class="list card" id="quoiDeNeuf-card29">
      <ion-item class="item-thumbnail-left positive" id="quoiDeNeuf-list-item25" ui-sref="menu.publicitS">
        <img src="img/K0jeIY8fQreNASXh92uh_003-person-learning-by-reading.png">
        <h2positive>Publications
          <p style="white-space:normal;">voir nos Derniers publications </p>
        </h2positive>
      </ion-item>
      <a ui-sref="menu.publicitS" id="quoiDeNeuf-button4" style="font-weight:300;" class="button button-positive  button-clear">Voir Plus</a>
    </div>
    <div class="list card" id="quoiDeNeuf-card217">
      <ion-item class="item-thumbnail-left positive" id="quoiDeNeuf-list-item41" ui-sref="menu.agendaCalendrier">
        <img src="img/DwALeNWfQACLJlKZzbLy_001-calendar-day-twenty-three.png">
        <h2positive>Agenda
          <p style="white-space:normal;">La vie de l’Université Hassan 1er est jalonnée par des activités. En tant qu’institution de renommée, l’UH1 vous informe en avance, de ce qu’elle a prévu de faire durant cette année académique.</p>
        </h2positive>
      </ion-item>
      <a ui-sref="menu.agendaCalendrier" id="quoiDeNeuf-button6" style="font-weight:300;text-align:left;" class="button button-positive  button-clear">Voir Plus</a>
    </div>
  </ion-content>
</ion-view>