<ion-view title="Services aux Etudiants" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <h3 style="text-align:center">
        <b>binevenue!</b>
      </h3>
      <br>
      <div style="font-size:15px;">
        <p style="text-decoration:none">
          <a style="text-decoration:none" href="#">Consulter vos Informations </a>
        </p>
        <p>
          <a href="#" style="text-decoration:none">Consulter vos Notes</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>